body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 30px 0px 50px 0px;
}

#calc-container {
    background-color: #404040;
    width: 500px;
    margin: 0 auto;
    border: 5px solid grey;
    border-radius: 25px;
    font-size: 80px;
}

#display {
    background-color: #F5F5F5;
    height: 100px;
    margin: 25px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    width: 450px;
    height: 450px;
}

.button-row {
    display: flex;
    justify-content: space-between;
}

button {
    color: white;
    background-color: #202020;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 80px;
    border: none;
}

.number:active, #cancel:active, #equal:active, .operator:focus {
    background-color: #505050;
}