body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 30px 0px 50px 0px;
}

#calc-container {
    background-color: #404040;
    width: 520px;
    margin: 0 auto;
    border: 5px solid grey;
    border-radius: 25px;
    font-size: 80px;
    display: flex;
    flex-direction: column;
}

#display {
    background-color: #F5F5F5;
    margin: 25px;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 80px;
    word-wrap: break-word;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    gap: 10px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    color: white;
    background-color: #202020;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 80px;
    border: none;
}

#cancel, #backspace, #negative {
    font-size: 70px;
}

#equal {
    width: 230px;
}

.number:active, #decimal:active, #negative:active {
    background-color: #505050;
}

#cancel:active, #backspace:active {
    background-color: #572424;
}

.operator:focus {
    background-color: #555120;
}

#equal:active {
    background-color: #202750;
}